---
layout: default
pagination:
  enabled: true
---

<section class="posts">
<ul>
{% for post in paginator.posts %}
<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time></li>
{% endfor %}
</ul>
<div class="meta">
<hr/>
{% if paginator.total_pages > 1 %}
    <div class="post-nav">
        <p>
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&#8672;&nbsp;Newer</a>
        {% endif %}
        </p>
        <p>{% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older&nbsp;&#8674;</a>
        {% endif %}</p>
    </div>
{% endif %}
</div>
</section>
